.campos-formulario{
  display: flex;
  align-items: flex-start;
}

.boton-buscar{
  width: 105px;
  margin-top: 15px;
}

mat-form-field{
  margin-right: 10px;
}

.input-filter{
  width: 100%;
  font-size: 14px;
}

table{
  width: 100% ;
}
